extends layout
block content
	script(type="text/javascript").
		window.playlist="#{playlist}"
		console.log(window.playlist);
	section.col-md-10.col-md-offset-1
		h1(style="margin:0;") TextBack
		h2(style="font-size:3em;") Never miss a beat. We got your back.
		a.btn.btn-primary(style="background:#2C3E50;color:#fff;border-color:#2C3E50;",href='/newRoom') Create new room

