doctype html
html(lang="en")
  head
    title CrowdSound
    link(rel='stylesheet', href='/css/styles.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")
  body
    yield
