extends layout
block content
	script(src="http://connect.soundcloud.com/sdk.js")
	script(src="/js/main.js")
	h1= name
	#playlist
		h3 Playlist
		ul#playlist
			each track in playlist
				li: span=track.title
