body {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
	display: block;
	position: relative;
}
.content {
	margin-top: 15%;
	position: relative
}
.color {
	color: #F1C40F;
}
.hidden {
	display: none;
}
#success, #error {
	width: 75%;
	margin-bottom: 5px;
}

.btn.btn-primary {
	color:#34495E;
	border-color:#34495E;
}

.btn.btn-primary:hover {
	color:#2C3E50;
	border-color:#2C3E50;
}

.center-row {
	height: 100%;
    vertical-align: middle;
}